*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    max-width: 1195px;
    /* Означает что, если есть возможность быть 1195,
    то будет, а если нет(экран меньше этого значения),
    то будет то значение которое у этого экрана */
    margin: 0 auto;
}

.wrapper {
    background-image:url('../images/bg/main-bg.jpg');
    min-height: 100vh;
    /* 100vh - это 100% высоты видимого экрана */
    /* Но видим что картинка не как в макете, будем 
    ее настраивать */
    background-repeat: no-repeat;
    background-size: cover;
    /* Маштабирует картинку так, чтоб ширина и высота
    равнялась высоте и ширине блока */
    background-position: center bottom;
    /* первое значение (право лево), второе значение
    (верх низ), то есть в нашем случае видим, овощей
    практический не видно, так как они внизу, и мы
    центрируем поцентру по горизонтали, а по горизонтале
    позиционируем с самого низа картинки */
}

