.wrapper {
    width: 1200px;
}

/* .title1,
.title2 {
    text-align: center;
} */
/* Но лучше не забивать css лишними селекторами
чтоб сайт быстрее грузился, если хотим для
нескольких элементов задать один и тот же стиль
лучше задать им одинаковый класс */

.title {
    text-align: center;
}
