body,
html {
  font-size: 16px;
  color: $default;
  @extend %quicksand-500;
  height: 100%;
  /* Эта высота для того чтоб прижать футер к низу */
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; 
}

// .logo__img {
//   width: 380px;
// }

a, 
p {
  color: $default;
  line-height: 26px;
}

.title {
  color: $title;
}

.button {
  padding: 0 22px;
  background-color: $accent;
  border: none;
  border-radius: 3px;
  transition: .5s;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  letter-spacing: 2px;

  &:hover {
    transform: scale(1.03);
  }
}
