body,
html {
  font-size: 16px;
  color: $default;
  @extend %quicksand-500;
  height: 100%;
  /* Эта высота для того чтоб прижать футер к низу */
}

body {
  display: flex;
  flex-direction: column;
  /* Для структуры чтоб футер был прижат к низу */
}

.main {
  flex-grow: 1;
  /* Для структуры чтоб футер был прижат к низу */
}

.wrapper {
  overflow: hidden;
}

.top__container {
  max-width: 1770px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0 15px; 
}

// .logo__img {
//   width: 380px;
// }

a, 
p {
  color: $default;
  line-height: 26px;
}

.title {
  color: $title;
}

.common-title {
  @extend %roboto-700;
  font-size: 48px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 0 22px;
  background-color: $accent;
  border: none;
  border-radius: 3px;
  transition: .5s;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  letter-spacing: 2px;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.5);
  }
}

.common-link {
  @extend %roboto-400;
  letter-spacing: 2px;
  color: black;
  padding: 16px 26px;
  border: 1px solid $accent;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
}

.sale {
  &::after {
    content: 'SALE';
    position: absolute;
    // width: 60px;
    // height: 30px;
    padding: 7px 9px;
    top: 25px;
    left: 25px;
    background-color: $accent;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %roboto-400;
    letter-spacing: 1px;
    color: white;
  }
}

.breadcrumbs {
  &__item {
    &:last-child .breadcrumbs__link {
      color: $accent;
    }
  }

  &__list {
    display: flex;
    column-gap: 14px;

    .home::before {
      content: "";
      background-image: url("../images/common/home-icon.svg");
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
    }
  }

  &__link {
    padding-left: 23px;
    position: relative;

    &::before {
      content: "";
      background-image: url("../images/common/angle_right.svg");
      position: absolute;
      top: 6px;
      left: 0;
      width: 9px;
      height: 10px;
    }
  }
}

