@media (max-width: 1400px) {
  .top-slider {
    &__item {
      justify-content: space-between;
    }
    .container {
      padding-left: 40px;
    }
  }

  .top__container {
    // min-height: 27.35vw;
    min-height: 28vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1300px) {
  .common-title {
    font-size: 50px;
  }
  .user-nav {
    padding-right: 10px;
  }

  .categories-info {
    .info {
      column-gap: 15px;
      justify-content: center;

      &__item {
        max-width: 350px;
        padding: 40px 30px;
      }

      &::before {
        top: 0;
        transform: translateY(-50%);
        left: 0;
      }

      &::after {
        bottom: 3px;
        transform: translateY(50%);
        right: 25px;
      }
    }
  }

  .video-fashion {
    &__inner {
      display: block;
    }

    &__video {
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      max-width: 100%;
      min-height: 480px;
    }

    &__content {
      max-width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .top-slider {
    &__content {
      padding-top: 0;
    }

    &__img {
      width: 40%;
      object-fit: contain;
      /* Всегда картинкам прописывай object fit чтоб они растягивались при уменьшении экрана как надо */
    }
  }

  .categories {
    &__item {
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
    }
  }

  .categories-info {
    background: url(../images/categories/decorate-bg/bg-left.svg) left 97%, 
                url(../images/categories/decorate-bg/bg-right.svg) right 97%;
    background-repeat: no-repeat;
    background-size: 30%;
  }

  .blog {
    background-position: center 620px;
  }

  .blog__inner {
    column-gap: 20px;
    &::before {
      right: 0 ;
    }

    .blog__content {
      padding-left: 10px;
      padding-right: 10px;
      &-info {
        flex-wrap: wrap;
        gap: 5px 5px;
      }
    }
  }

  .blog-page__aside .person,
  .filter__item:not(.filter__item:first-of-type) {
    display: none;
  }

  .blog-page__inner {
    flex-direction: column;
  }

  .blog-page__content,
  .blog-page__item {
    max-width: 100% !important;
  }

  .blog-page__content {
    order: 2;
  }

  .blog-page__item-img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  .slick-initialized .slick-slide div {
    display: flex;
    justify-content: center;
  }
    
  .blog-page__aside {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 1050px) {
  .footer-top {
    flex-wrap: wrap;
    justify-content: flex-start;

    &__subscribe {
      width: 100%;
      margin-top: 30px;
    }
  }

  .top-slider {
    background-position-y: 50%;

    &__text {
      margin-bottom: 20px;
    }

    &__link {
      padding: 10px 25px;
      font-size: 15px;
    }
  }

  .categories-info {
    .info {
      &__item {
        max-width: 300px;
        padding: 30px 20px;
      }
    }
  }

  .categories-info {
    .categories__inner {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 
       "two two"
       "one three"
       "one four"
      ;
    }

    .categories__item {
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;

      &:nth-child(1) {
        grid-row: span 1;
        grid-area: one;
      }

      &:nth-child(2) {
        grid-column: span 1;
        display: block;
        background-position: right bottom;
        background-size: 480px;
        grid-area: two;
      }

      &:nth-child(3) {
        grid-area: three;
      }

      &:nth-child(4) {
        grid-area: four;
      }
    }
  }

  .product-item__image {
    height: auto;
    margin-bottom: 15px;
  }

  .product-item .stars {
    margin-bottom: 12px;
  }

  .product-item__title {
    margin-bottom: 15px;
    text-align: center;
  }

  .sale::after {
    padding: 5px 7px;
    top: 15px;
    left: 15px;
    font-size: 15px;
  }

  .promo #clockdiv {
    column-gap: 20px;

    > div {
      height: 100px;
      width: 100px;
    }

    span {
      font-size: 35px;
    }
  }

  .promo {
    background-position: 10% top;

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .common-link {
        margin-right: 40px;
      }
    }
  }
}

@media (min-width: 860px) {
  .menu__btn {
    display: none;
  }
}

.header {
  position: relative;
  z-index: 1;
  background-color: white;
}

@media (max-width: 860px) {
  .common-title {
    font-size: 35px;
  }

  .header__wrapper .menu {
    order: 3;

    &__list {
      position: absolute;
      z-index: -9999999;
      top: 110px;
      left: 0;
      right: 0;
      transform: translateY(-200%);
      transition: transform .5s;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;

      &--active {
        position: absolute;
        transform: translateY(0);
        z-index: -1;
      }

      &-item {
        margin-top: 20px;
        width: 100%;
        text-align: center;

        &::after {
          right: unset;
          width: 98%;
          left: 1%;
          height: 1px;
        }
      }
    }

    &__btn {
      position: relative;
      width: 30px;
      height: 20px;
      border: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-left: 20px;

      span {
        width: 100%;
        height: 2px;
        background-color: $title;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $title;
      }
      &::after {
        bottom: 0;
      }
      &::before {
        top: 0;
      }
    }
  }

  .categories-info {
    .info {
      flex-direction: column;
      row-gap: 15px;
      
      &__item {
        max-width: 100%;
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
          "image title"
          "image text"
        ;
      }

      &__img {
        margin-bottom: 0;
        margin-right: 15px;
        grid-area: image;
      }

      &__title {
        grid-area: title;
        margin-bottom: 0;
      }

      &__text {
        grid-area: text;
      }

      &::after {
        right: 0;
      }
    }
  }

  .user-nav {
    margin-left: auto;
  }

  .footer-top {
    &__contact {
      width: 100%;
    }
    
    &__links {
      margin-top: 30px;
    }
  }

  .top-slider {
    padding-top: 40px;

    .container {
      padding-left: 10px;
    }

    &__content {
      padding-left: 10px;
    }

    &__link {
      margin-bottom: 20px;
    }

    &__img {
      flex-grow: 1;
    }

    .slick-dots {
      bottom: 10px;
      right: 50%;
      transform: translateX(45%);
    }
  }

  .categories-info {
    background: url(../images/categories/decorate-bg/bg-left.svg) left 97%, 
                url(../images/categories/decorate-bg/bg-right.svg) right 97%;
    background-repeat: no-repeat;
    background-size: 35%;
  }

  .product__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 30px;
  }

  .blog__content-title {
    font-size: 20px;
  }
}


@media (max-width: 650px) {
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: center;

    &__payment {
      order: 1;
      width: 100%;
      justify-content: center;
    }

    &__copy {
      order: 2;
      margin-top: 10px;
    }
  }

  .top-slider {
    &__title {
      margin-bottom: 20px;
    }

    &__text {
      font-size: 15px;
    }

    &__item &__img {
      display: none ;
    }

    .slick-dots {
      transform: translateX(50%);
    }

    &__link {
      margin-bottom: 50px;
    }
  }

  .categories-info {
    .categories__inner {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      grid-template-areas: 
       "  one one"
       "  two two"
       "three three"
       " four four"
      ;
    }

    .categories__item {
      &:nth-child(2) {
        background-position: right bottom;
        background-size: 400px;
      }
    }
  }

  .categories-info {
    background: url(../images/categories/decorate-bg/bg-left.svg) left 97%, 
                url(../images/categories/decorate-bg/bg-right.svg) right 97%;
    background-repeat: no-repeat;
    background-size: 50%;
  }

  .video-fashion {
    padding: 60px 0;
  }

  .video-fashion__video {
    min-height: 360px;
  }

  .promo {
    background-position: 20% top;
  }

  .blog {
    padding-bottom: 60px;
    background-position: bottom -150px left 0;
    background-size: 1000px;
  }

  .blog__inner {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .top__container {
    min-height: 200px;
    background-color: #ececec;
    background-color: #f6f6f6;
    background-image: url("../images/video/bg.svg");

  }

  .modal {
    padding-top: 60px;
  }

  .top-title {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .categories-info {
    .info {
      &__item {
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
          "image title"
          " text text "
        ;
        row-gap: 10px;
        align-items: center;

      }
    }
  }

  .categories-info {
    background: url(../images/categories/decorate-bg/bg-left.svg) left 97%, 
                url(../images/categories/decorate-bg/bg-right.svg) right 97%;
    background-repeat: no-repeat;
    background-size: 55%;
  }
  
  .button {
    padding: 10px 25px;
    font-size: 15px;
  }

  .product {
    padding: 60px 0;
  }

  .product__inner {
    grid-template-columns: 1fr;
  }

  .promo {
    background-position: 31% top;
  }

  .promo #clockdiv {
    margin-bottom: 25px;
    width: 100%;
    justify-content: flex-end;
  }

  .partners {
    padding: 60px 0;

    &__inner {
      display: grid;
      justify-content: center;
      row-gap: 30px;
      column-gap: 40px;
      grid-template-areas: 
        " one  two three"
        "four five six"
      ;

      /* Тут можно было partners__items задать отступы с лева и с права, чтоб 
      правильно позиционировать, но более практичный вариант использовать гриды */
    }

    &__items {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__items:nth-child(1) {
      grid-area: one;
    }
    &__items:nth-child(2) {
      grid-area: two;
    }
    &__items:nth-child(3) {
      grid-area: three;
    }
    &__items:nth-child(4) {
      grid-area: four;
    }
    &__items:nth-child(5) {
      grid-area: five;
    }
    &__items:nth-child(6) {
      grid-area: six;
    }
  }
}

@media (max-width: 500px) {
  .header {
    padding: 20px 0;
  }
  
  .header__wrapper {
    flex-wrap: wrap;

    .user-nav {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }

    .menu {
      order: unset;
    }
  }

  .categories-info {
    background: url(../images/categories/decorate-bg/bg-left.svg) left 80%, 
                url(../images/categories/decorate-bg/bg-right.svg) right 80%;
    background-repeat: no-repeat;
    background-size: 60%;
  }

  .video-fashion__video {
    min-height: 270px;
  }

  .promo #clockdiv {
    > div {
      width: 80px;
      height: 80px;
    }

    span {
      font-size: 30px;
      line-height: 30px;
    }

    .smalltext {
      font-size: 14px;
    }
  }
}

@media (max-width: 420px) {
  .common-title {
    font-size: 30px;
  }

  .footer-top {
    &__form {
      flex-wrap: wrap;

      &-input {
        width: 100%;
        margin-right: 0;
      }

      &-button {
        width: 100%;
        padding: 15px 0;
        margin-top: 10px;
      }
    }

    &__links {
      width: unset;
    }
  }

  .categories__item {
    // text-align: center;

    &:nth-child(1) {
      background-image: none !important;
    }

    &:nth-child(2) {
      background-image: none !important;
    }

    &:nth-child(3) {
      background-image: none !important;
    }

    &:nth-child(4) {
      background-image: none !important;
    }
  }

  .categories-info {
    background: url(../images/categories/decorate-bg/bg-left.svg) left 72%, 
                url(../images/categories/decorate-bg/bg-right.svg) right 72%;
    background-repeat: no-repeat;
    background-size: 58%;
  }

  .video-fashion__video {
    min-height: 250px;
  }

  .promo__inner {
    align-items: center;

    .common-link {
      margin-right: 0;
    }
  }

  .promo {
    background-color: #f6f6f6;
    background-image: url("../images/video/bg.svg");
    background-size: 1500px;
  }

  .promo #clockdiv {
    column-gap: 5px;
    justify-content: space-evenly;

    > div {
      width: 65px;
      height: 65px;
      box-shadow: 0px 10px 40px 0px rgb(187 187 187 / 74%);
    }

    span {
      font-size: 25px;
      line-height: 22px;
    }

    .smalltext {
      font-size: 13px;
    }
  }

  .promo__inner .common-link {
    background-color: #f6f6f6;
  }
}

