/* Переменные например цветов которые часто используются на сайте */
$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;
/* Так как футер будет во всех страницах */

/* Примеси со шрифтами */
%quicksand-400 {
  font-family: 'Quicksand-Regular', sans-serif;
  /* Если произойдут проблемы с этим шрифтом, он подключит шрифт просто без засечек */
  font-weight: 400;
}

%quicksand-500 {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

%links-hover {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $accent;
  transform: scale(0);
  transition: .3s;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

