@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 40px 0;
  /* Отступы между основными блоками лучше задавать главным родителям,
  чтоб при адаптиве при определенном breakpoint через запятую указывать 
  родителей и им задавать отпределенные отступы */
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu__list {
      display: flex;
      column-gap: 36px;

      &-item {
        padding: 0 2px;
        position: relative;
        
        &::after {
        background-color: $accent;
        content: "";
        display: block;
        position: absolute;
        bottom: -4px;
        height: 2px;
        left: 0;
        right: 0;
        transform: scale(0);
        transition: .5s;
        }

        &:hover::after {
          transform: scale(1);
        }

        &--active::after {
          transform: scale(1);
        }

        .menu__list-link {
          @extend %roboto-400;
          color: #29282d;
          transition: .3s;

          &--active {
            color: $accent;
            @extend %roboto-700;
          }
        }

        &:hover .menu__list-link {
          color: $accent;
          @extend %roboto-700;
        }
      }
    }

    .user-nav {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 25px;
      flex-shrink: 0;

      .user-nav__num {
        position: absolute;
        top: -9px;
        transform: translateX(13px);
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 12px;
        background-color: $accent;
        color: white;
      }

      &__link:last-of-type img{
        width: 23px;
      }

      .burger-menu {
        display: none;

        &__line {
          position: relative;
          display: block;
          background-color: #707073;
          width: 30px;
          height: 2px;
          transition: .3s;

          &::before,
          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 30px;
            height: 2px;
            background-color: #707073;
            transition: .5s;
          }

          &::after {
            bottom: 7px;
          }
          &::before {
            top: 7px;
          }
        }
      }
    }
  }
}

.footer {
  background-color: $bg-footer;
  padding: 70px 0 27px 0;
  /* Чтоб при адаптиве легче через запятую перечислить несколько блоков и одним
  значением задать, тступ сверху вообще 76, но нужно учитывать зарезервированный line height у текста */
  &-top {
    padding-bottom: 42px;
    /*  */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    column-gap: 20px;

    &__list {
      // line-height: 36px;
      /* Незабывай что ты отступы между ссылками или текстом можешь делать
      с помощью line-height!!! Уберем этот line height, это не правильно, так как
      если будет длинный тескт переносящийся на другую строку, этот перенос
      будет выглядить так как будто это чтото */
      row-gap: 10px;
      display: flex;
      flex-direction: column;
    }

    &__email {
      margin: 10px 0;
    }

    &__title {
      @extend %roboto-500;
      font-size: 22px;
      margin-bottom: 33px;
    }

    &__contact {
      width: 250px;
      display: flex;
      flex-direction: column;
    }

    &__links {
      width: 170px;

      .footer-top__list-item:hover .footer-top__list-link {
        color: $accent;
      } 

      .footer-top__list-link {
        transition: .3s;
      }
    }

    &__subscribe {
      width: 470px;
    }

    &__social {
      display: flex;
      column-gap: 18px;
      margin-top: 35px;

      &-link {
        path {
          fill: $default;
          transition: .5s;
        }

        &:hover path{
          fill: $accent;
        }
      }
    }

    &__form {
      display: flex;
      margin-top: 25px;

      &-input {
        flex-grow: 1;
        margin-right: 6px;
        padding: 15px;
        @extend %quicksand-500;
        color: $default;
        border-radius: 3px;
        border: none;
        outline: none;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

        &::placeholder {
          @extend %quicksand-500;
          color: $default;
        }
      }

      // &-button {
      //   padding: 0 22px;
      //   background-color: $accent;
      //   border: none;
      //   border-radius: 3px;
      //   transition: .5s;
      //   text-transform: uppercase;
      //   cursor: pointer;
      //   color: white;
      //   box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);

      //   &:hover {
      //     transform: scale(1.03);
      //   }
      // }
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;

    &__payment {
      display: flex;
      column-gap: 10px;
    }
  }
}

.top-slider {
  

  &__title {
    @extend %roboto-700;
    font-size: 58px;
  }

  &__text {
    width: 460px;
  }

  &__link {
    padding: 19px 23px;
    display: inline-block;
  }
}


// Импорт медиа вконце как бы писали медиа запросы
@import "media";

