@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  padding: 40px 0;
  /* Отступы между основными блоками лучше задавать главным родителям,
  чтоб при адаптиве при определенном breakpoint через запятую указывать 
  родителей и им задавать отпределенные отступы */
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu__list {
      display: flex;
      column-gap: 36px;

      &-item {
        padding: 0 2px;
        position: relative;
        
        &::after {
        background-color: $accent;
        content: "";
        display: block;
        position: absolute;
        bottom: -4px;
        height: 1.5px;
        left: 0;
        right: 0;
        transform: scale(0);
        transition: .5s;
        }

        &:hover::after {
          transform: scale(1);
        }

        &--active::after {
          transform: scale(1);
        }

        .menu__list-link {
          @extend %roboto-400;
          color: #29282d;
          transition: .5s;
          &--active {
            color: $accent;
            @extend %roboto-700;
          }
        }

        &:hover .menu__list-link {
          color: $accent;
        }
      }
    }

    .user-nav {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 25px;
      flex-shrink: 0;

      .user-nav__num {
        position: absolute;
        top: -9px;
        transform: translateX(13px);
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 12px;
        background-color: $accent;
        color: white;
      }

      &__link:last-of-type img{
        width: 23px;
      }

      .burger-menu {
        display: none;

        &__line {
          position: relative;
          display: block;
          background-color: #707073;
          width: 30px;
          height: 2px;
          transition: .3s;

          &::before,
          &::after {
            content: "";
            position: absolute;
            display: block;
            width: 30px;
            height: 2px;
            background-color: #707073;
            transition: .5s;
          }

          &::after {
            bottom: 7px;
          }
          &::before {
            top: 7px;
          }
        }
      }
    }
  }
}

.footer {
  &-top {
    &__social {
      &-link {

        path {
          fill: $default !important;
          transition: .5s;
        }

        &:hover path{
          fill: $accent !important;
        }
      }
    }
  }
}


// Импорт медиа вконце как бы писали медиа запросы
@import "media";

