h1 { /* Это селектор, к кому мы обращаемся в HTML */
 /* свойства: значение; */
 text-align: center;
 color: orange;
}

body {
    background-color: lightslategray;
    color: white;
    /* Все текста поменяли цевт, но хотя мы не задавали,
    только для h1 задали цвет. Это так называемые
    каскадные таблицы стилей. body родитель и он
    дал белую краску своим потомкам, и потомки взяли
    эту белую краску и покрасили свои текста в белый.
    Но нужно учитывать что не все свойства css наследуются */
    border: 3px solid lightskyblue;
    /* border не наследуется, ну как бы логично, если бы
    наследовался, то была бы каша */
}

a {
    text-align: center;
    /* Не применится свойство, так как это строчный элемент
    его все растояние как его контент, ему некуда двинутся
    чтоб встать по центру */
}

body {
    text-align: center;
    /* но если прописать родителю блочному
    в котором находится строчный элемент, то он встанет по
    центру, так как у родителя есть куда двигаться,
    так как он блочный элемент  */
}