/* Наш собственный сброс стилей */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* НАследуется от родителя, так html это главный тег свего,
    конечно могли бы просто написать border-box, но у некоторых плагинов,
    нужно значение content-box, и мы же не будем каждому элементы менять
    значение, а проще меняем у html на content box, а так как потомки наследуют
    значение от родителя, и у всех потомков поменяется значение */
}

ul[class],
ol[class] {
    padding: 0;
    /* У списков только у которых есть класс обнуляются */
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    /* Это для того чтоб, если картинка например 800px, и когда экран
    меньше чем 800px, картинка уменьшается */
    display: block;
    /* У inline-block элементов есть особенность, у них маленькие отступы */
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
    min-height: 100vh;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    /* m0-auto сокращение emmet */
    padding: 0 10px;
    /* Но такая ситуация, так как у нас border-box,
    эти внутрение отступы ушли внутрь нашего котейнера,
    сейчас ширина нашего контейнера 1150px, значит увеличим 
    наш контейнер на 20px */
    max-width: 1190px;
}