* {
    box-sizing: border-box;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.text1 {
    font-size: 20px;
    background-color: #ccc;
    /* Зададим ширину в 500px */
    width: 500px;
    padding: 50px;
    /* И уже получаем ширину не в 500 а 600, засчет левого и правого padding */
    border: 20px solid black;
    /* Ширина еще увеличилась 640px, засчет левого и правого border */
    /* padding border они этот блок расширяют, это стандартная модель
    поведения браузера. Она считает ширину которую мы написали + padding + border */
    box-sizing: border-box;
    /* Теперь видим этот весь блок с padding и border занимает наши 500px,
    но для контента осталось 445px, то есть padding и border как бы
    вошли внутрь блока 
    box-sizing: content-box; обычное поведение 
    Но обычно это свойство пишется в самом начале и для всех элементов */

    /* Сейчас у нас высота автоматическая по контенту, но если установить фиксированую */
    height: 500px;
    /* И видим что контент выволился за края */
    overflow: auto;
    /* Теперь появился скрол у этого блока в который не влезает текст */
    overflow: hidden;
    /* Теперь видим что скрола нет, текст просто обрезало по ширине родителя,
    оно просто прячет что не влезает в ролителя */
}


.text2 {
    font-size: 18px;
    background-color: #ccc;
}

.text3 {
    font-style: italic;
}

.text4 {
    text-align: right;
    font-size: 14px;
}
