body,
html {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 10px;
}

.main .container,
.header-bottom .container {
  max-width: 1170px;
  margin: 0 auto;
}

.button {
  @extend %Rubik-Medium;
  font-size: 15px;
  background-color: $btns;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 3vw;
  padding: 1.06vw 0.84vw;
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: scale(1.03);
  }
}

