$accent: #436372;
$btns: #a3bbc8;

%Rubik-Regular {
  font-family: 'Rubik-Regular';
  font-weight: 400;
}

%Rubik-Medium {
  font-family: 'Rubik-Medium';
  font-weight: 500;
}

%DMSans-Regular {
  font-family: 'DMSans-Regular';
  font-weight: 400;
}

%DMSans-Medium {
  font-family: 'DMSans-Medium';
  font-weight: 500;
}

%DMSans-Bold {
  font-family: 'DMSans-Bold';
  font-weight: 700;
}