@import "vars";
@import "fonts";
@import "reset";
@import "global";
@import "libs";

.header{
  @extend %Rubik-Medium;
  color: $accent;

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
  }

  a,
  input, 
  input::placeholder {
    @extend %Rubik-Medium;
    color: $accent;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 36px;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    column-gap: 11px;
    font-size: 0,9375rem;

    &__items {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $accent;
        transition: .3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .header__panel {
    display: flex;
    align-items: center;

    &-form {
      position: relative;
    }

    &-search {
      min-height: 2.91vw;
      border-radius: 25px;
      border: 1px solid $accent;
      outline: none;
      padding: 0 3.35vw 0 0.56vw;
    }

    &-btn {
      position: absolute;
      top: 1px;
      right: 1px;
      border: none;
      min-width: 2.79vw;
      min-height: 2.79vw;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &-details {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 3.24vw;
      min-height: 2.85vw;
      width: 9.94vw;
      background-color: #fcd7b6;
      min-height: 2.91vw;
      border-radius: 25px;
      margin-left: 20px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(50% - 1px);
        height: 1.79vw;
        width: 1px;
        background-color: #fde7d3;
      }
    }

    &-liked, 
    &-shoping-cart {
      height: 18px;
      width: 18px;
      position: relative;
    }

    &-number {
      position: absolute;
      top: -7px;
      right: -9px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      font-size: 10px;
      background-color: white;
      @extend %DMSans-Regular;
      color: #243f4d;
    }
  }

  &-bottom {
    position: relative;
    min-height: 45vw;

    &__image {
      position: absolute;
      z-index: -1;
      object-fit: contain;
    }

    .container {
      min-height: inherit;
    }

    &__info {
      max-width: 420px;
      min-height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      row-gap: 2vw;
    }

    &__title {
      font-size: 4.5rem;
      line-height: 70px;
    }

    &__text {
      @extend %Rubik-Regular;
      font-size: 1,125rem;
      color: #436372;
      line-height: 30px;
    }
  }

  .slick-dots {
    display: flex;
    column-gap: 4px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2.40vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .slick-dots li button {
    border: none;
    @extend %Rubik-Medium;
    color: $accent;
    font-size: 11px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 50%;
    cursor: pointer;
    width: 29px;
    height: 29px;
  }
  
  .slick-dots .slick-active button{
    background-color: white;
    color: black;
  }

  .header__options {
    @extend %DMSans-Regular;
    color: #585858;
    
    .container {
      display: flex;
    }
    
    &-box {
      display: flex;
      justify-content: center;
      width: calc(100% / 3);
      background-color: #fef7f0;
      &:not(.header__options-box:last-of-type) {
        border-right: 1px solid #e8e4df;
      }
      padding: 2.46vw 1.12vw;
    }

    &-images {
      position: relative;
      align-self: flex-start;
      margin-right: 1.96vw;

      .header__options-circle {
        position: absolute;
        top: 35px;
        right: 0;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        right: -3px;
        width: 20px;
        height: 20px;
        background-image: url('../image/logos\ and\ icons/header-circle-decore-icon.svg');
      }
    }

    &-title {
      @extend %DMSans-Bold;
      color: #414141;
      font-size: 1,125rem;
      line-height: 2.26vw;
    }

    &-text {
      line-height: 1.69vw;
    }
  }
}

.main {
  @extend %DMSans-Bold;
  .product {
    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__navigation {
      display: flex;
      column-gap: 30px;
    }

    &__bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      
      row-gap: 2.23vw;
      column-gap: 1.68vw;
      
      &-item {
        max-width: 270px;
        // max-width: 15.08vw;
        // min-height: 380px;
        min-height: 21.23vw;
        background-color: white;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        // padding: 38px 0;
        padding: 2.12vw 0;
        position: relative;
        overflow: hidden;

        &:hover .product__bottom-navigation {
          bottom: 40%;
        }
      }

      &-info {
        text-align: center;
      }

      &-title {
        @extend %DMSans-Medium;
        color: #243f4d;
      }

      &-price {
        color: #a3bbc8;
        // margin-top: 14px;    
        margin-top: 0.78vw;   
      }

      &-navigation {
        display: flex;
        column-gap: 15px;
        position: absolute;
        bottom: -40%;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s;

        &__icon {
          width: 45px;
          height: 45px;
          background-color: white;
          box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .3s;
          

          &:hover {
            background-color: #a3bac7;

            svg path {
              fill: white !important;
            }
          }


        }
        
      }
    }
  }

  .product-banner {
    padding-top: 186px;

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__box {
      // width: calc(50% - 30px);
      width: 870px;
      background-color: #feefe2;
      padding: 100px 10px;
      position: relative;
      display: flex;
      justify-content: flex-end;
      flex-shrink: 1;
      
      &:first-child {
        margin-right: 1.69vw;
      }
    }

    &__image {
      position: absolute;
      bottom: 85px;
      left: 20px;
      z-index: 1;
    }

    &__info {
      position: relative;
      z-index: 2;
      max-width: 370px;
      // flex-shrink: 0;
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      margin-left: 260px;
      // padding-right: 10px;
    }

    &__title {
      @extend %DMSans-Bold;
      font-size: 26px;
      color: #243f4d;
    }

    &__discription {
      @extend %Rubik-Regular;
      font-size: 1rem;
      color: #243f4d;
    }

    .button {
      background-color: transparent;
      border: 1px solid $accent;
      border-radius: 5px;
      align-self: baseline;
      &__link {
        @extend %Rubik-Medium;
        color: $accent;
      }
    }
    
  }
}


@import "media";



