@import "vars";
@import "fonts";
@import "reset";
@import "global";
@import "libs";

.header{
  @extend %Rubik-Medium;
  color: $accent;

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 0;
  }

  a,
  input, 
  input::placeholder {
    @extend %Rubik-Medium;
    color: $accent;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-size: 36px;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    column-gap: 11px;
    font-size: 0,9375rem;

    &__items {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: $accent;
        transition: .3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .header__panel {
    display: flex;
    align-items: center;

    &-form {
      position: relative;
    }

    &-search {
      min-height: 2.91vw;
      border-radius: 25px;
      border: 1px solid $accent;
      outline: none;
      padding: 0 3.35vw 0 0.56vw;
    }

    &-btn {
      position: absolute;
      top: 1px;
      right: 1px;
      border: none;
      min-width: 2.79vw;
      min-height: 2.79vw;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &-details {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 3.24vw;
      min-height: 2.85vw;
      width: 9.94vw;
      background-color: #fcd7b6;
      min-height: 2.91vw;
      border-radius: 25px;
      margin-left: 20px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(50% - 1px);
        height: 1.79vw;
        width: 1px;
        background-color: #fde7d3;
      }
    }

    &-liked, 
    &-shoping-cart {
      height: 18px;
      width: 18px;
      position: relative;
    }

    &-number {
      position: absolute;
      top: -7px;
      right: -9px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      font-size: 10px;
      background-color: white;
      @extend %DMSans-Regular;
      color: #243f4d;
    }
  }

  &-bottom {
    position: relative;
    min-height: 45vw;

    &__image {
      position: absolute;
      z-index: -1;
      object-fit: contain;
    }

    .container {
      min-height: inherit;
    }

    &__info {
      max-width: 420px;
      min-height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      row-gap: 2vw;
    }

    &__title {
      font-size: 4.5rem;
      line-height: 70px;
    }

    &__text {
      @extend %Rubik-Regular;
      font-size: 1,125rem;
      color: #436372;
      line-height: 30px;
    }
  }

  .slick-dots {
    display: flex;
    column-gap: 4px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 2.40vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .slick-dots li button {
    border: none;
    @extend %Rubik-Medium;
    color: $accent;
    font-size: 11px;
    background-color: rgba(255, 255, 255, .3);
    border-radius: 50%;
    cursor: pointer;
    width: 29px;
    height: 29px;
  }
  
  .slick-dots .slick-active button{
    background-color: white;
    color: black;
  }

  .header__options {
    @extend %DMSans-Regular;
    color: #585858;
    
    .container {
      display: flex;
    }
    
    &-box {
      display: flex;
      justify-content: center;
      width: calc(100% / 3);
      background-color: #fef7f0;
      &:not(.header__options-box:last-of-type) {
        border-right: 1px solid #e8e4df;
      }
      padding: 2.46vw 1.12vw;
    }

    &-images {
      position: relative;
      align-self: flex-start;
      margin-right: 1.96vw;

      .header__options-circle {
        position: absolute;
        top: 35px;
        right: 0;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -6px;
        right: -3px;
        width: 20px;
        height: 20px;
        background-image: url('../image/logos\ and\ icons/header-circle-decore-icon.svg');
      }
    }

    &-title {
      @extend %DMSans-Bold;
      color: #414141;
      font-size: 1,125rem;
      line-height: 2.26vw;
    }

    &-text {
      line-height: 1.69vw;
    }
  }
}

.main {
  @extend %DMSans-Bold;
  .product {
    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__navigation {
      display: flex;
      column-gap: 30px;
    }

    &__bottom {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      
      row-gap: 2.23vw;
      column-gap: 1.68vw;
      
      &-item {
        max-width: 270px;
        // max-width: 15.08vw;
        // min-height: 380px;
        min-height: 21.23vw;
        background-color: white;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        // padding: 38px 0;
        padding: 2.12vw 0;
        position: relative;
        overflow: hidden;

        &:hover .product__bottom-navigation {
          bottom: 40%;
        }
      }

      &-info {
        text-align: center;
      }

      &-title {
        @extend %DMSans-Medium;
        color: #243f4d;
      }

      &-price {
        color: #a3bbc8;
        // margin-top: 14px;    
        margin-top: 0.78vw;   
      }

      &-navigation {
        display: flex;
        column-gap: 15px;
        position: absolute;
        bottom: -40%;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s;

        &__icon {
          width: 45px;
          height: 45px;
          background-color: white;
          box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .3s;
          

          &:hover {
            background-color: #a3bac7;

            svg path {
              fill: white !important;
            }
          }


        }
        
      }
    }
  }

  .product-banner {
    padding-top: 186px;

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__box {
      // width: calc(50% - 30px);
      width: 870px;
      background-color: #feefe2;
      padding: 100px 10px;
      position: relative;
      display: flex;
      justify-content: flex-end;
      flex-shrink: 1;
      
      &:first-child {
        margin-right: 1.69vw;
      }
    }

    &__image {
      position: absolute;
      bottom: 85px;
      left: 20px;
      z-index: 1;
    }

    &__info {
      position: relative;
      z-index: 2;
      max-width: 370px;
      // flex-shrink: 0;
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      margin-left: 260px;
      // padding-right: 10px;
    }

    &__title {
      @extend %DMSans-Bold;
      font-size: 26px;
      color: #243f4d;
    }

    &__discription {
      @extend %Rubik-Regular;
      font-size: 1rem;
      color: #243f4d;
    }

    .button {
      background-color: transparent;
      border: 1px solid $accent;
      border-radius: 5px;
      align-self: baseline;
      &__link {
        @extend %Rubik-Medium;
        color: $accent;
      }
    }
    
  }

  .design__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .design__content {
    position: relative;
    // max-width: 370px;
    width: 100%;
    min-height: 245px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #f8f8f8;
    

    &-info {
      position: absolute;
      top: 40px;
      left: 34px;
      max-width: 171px;
      @extend %DMSans-Bold;
    }

    // &-image {
    //   width: 100%;
    //   height: 245px;
    //   object-fit: contain;
    //   object-position: right bottom;
    // }

    &-title {
      font-size: 20px;
      color: #1a1a1a;
    }

    &-text {
      font-size: 1rem;
      color: $accent;
      margin-top: 10px;
    }
  }

  .video {
    position: relative;
    padding: 120px 0;

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      background-color: #a3bbc8;
      // position: relative;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      
      &:hover .anime {
        background-color: rgba(163, 187, 200, .4);
        animation: unset;
      }
      
      
      .anime {
        position: absolute;
        z-index: -1;
        width: 120px;
        height: 120px;
        display: block;
        border-radius: 50%;
        background-color: rgba(163, 187, 200, .4);
        animation-name: play;
        animation-duration: .8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;

        @keyframes play {
          from {
            transform: scale(.7)
          }

          to {
            transform: scale(1)
          }
        }
      }
      
    }
  }

  .article {
    margin-bottom: -180px;
    &__top{
      &-header{
        display: flex;
        justify-content: space-between;
        @extend %DMSans-Bold;
        color: #1a1a1a;
      }
      
      &-content {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        // align-items: flex-start;
        margin-top: 52px;

        &__box {
          flex-basis: 370px;
          // min-height: 400px;
          background-color: white;
          border-radius: 8px;
          position: relative;
          display: flex;
          flex-direction: column;
          box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        }
        
        &__info {
          padding: 0 28px;
          // min-height: 170px;
          // height: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          // flex-grow: 1;

          &::after {  
            content: "NEWS";
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            @extend %DMSans-Bold;
            color: white;
            transform: translateY(-50%);
            left: 5%;
            width: 103px;
            height: 30px;
            background-color: #a3bbc8;
            border-radius: 20px;
          }
        }
        
        &__title {
          @extend %DMSans-Medium;
          color: #343434;
          font-size: 18px;
          // min-height: 120px;
          // height: 100%;
          
          display: flex;
          padding-top: 34px;
          padding-bottom: 16px;
        }

        &__posted,
        &__author {
          @extend %Rubik-Regular;
          font-size: 12px;
          color: #222933;
        }

        &__posted {
          display: flex;
          column-gap: 40px;
          align-items: center;
          min-height: 59px;
          // margin-bottom: auto;
          margin-top: auto;
          position: relative;
          padding: 0 28px;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: 1px;
            background-color: #e0e0e0;
          }
        }
      }
    } 

    &__top-view {
      font-size: 1rem;
      display: flex;
      align-items: center;
      column-gap: 16px;
      color: #1a1a1a;
    }

    &__bottom {
      padding-top: 265px;
      padding-bottom: 86px;
      background-color: #fef7f0;
    }

    &__partners {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.footer {
  padding-top: 77px;
  padding-bottom: 40px;
  @extend %Rubik-Regular;
  font-size: 14px;
  color: #7b7b7b;

  a {
    @extend %Rubik-Regular;
    font-size: 14px;
    color: #7b7b7b;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
    border-bottom: 1px solid #dae4e9;
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    &-four {
      // max-width: 269px;
      flex-basis: 269px;
    }
  }

  &__logo {
    @extend %Rubik-Regular;
    font-size: 36px;
    color: $accent;
    display: flex;
    column-gap: 14px;

    &--margin {
      margin-bottom: calc(28px - 16px);
    }
  }

  span a {
    margin-left: 5px;
  }

  &__title {
    @extend %DMSans-Bold;
    color: #1f2044;
    text-transform: uppercase;
    margin-top: 25px;
  }

  &__form {
    display: flex;
    margin-top: calc(36px - 16px);
  }

  &__btn,
  &__input {
    @extend %DMSans-Regular;
  }

  &__btn {
    flex-basis: 100px;
    min-height: 38px;
    border: none;
    background-color: #a3bbc8;
    border-radius: 0;
    color: white;
  }

  &__input {
    // flex-basis: 250px;
    background-color: #fef7f0;
    border: none;
    color: #234969;
    padding-left: 16px;
    padding-right: 10px;
    flex-shrink: 2;

    &::placeholder {
      color: #234969;
    }
  }

  &__bottom {
    padding-top: 34px;
    display: flex;
    justify-content: space-between;

    &-inner {
      display: flex;
      // column-gap: 30px;
    }

    &-items {
      padding-left: 10px;
      padding-right: 10px;
      border-left: 1px solid #7b7b7b;

      &:first-of-type {
        padding-left: none;
        border: none;
      }
    }
  }
}


@import "media";



