.wrapper {
    width: 1200px;

    /* margin-left: auto; */
    /* Видим что наш wrapper прижался максимально к правому
    краю, то есть максимально оттолкнуся от левого края */

    /* margin-right: auto; */
    /* И теперь оттолкнулся от правого края, а так как
    наш элемен уже отталкивается слева на максимумы и теперь
    наш wrapper встал по центру */
    margin: 0 auto;
    /* Сокращенный вариант */
    /* Но такие фокусы работают только с теми элементами
    у которых есть фиксированная ширина */
}

.title {
    text-align: center;
}

.text1 {
    font-size: 20px;
    background-color: #ccc;
    
    /* margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 70px;
    margin-right: 35px; */
    /* Это все внешние отступы, но это все можно записать короче */
    margin: 50px 35px 70px 20px;
    /* margin: 50px 70px 20px;
    50 верх, 70 низ, а 35 по бокам
    margin: 50px 20px; 
    50 сверху и снизу, 20 слева и права 
    margin: 50px;
    со всех сторон по 50
    С padding тоже самое!!! */

    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 70px;
    padding-right: 35px;
    /* Это внутрение отступы */

    border: 3px solid black;
    /* Отступы до бордеры это внутрении, то есть этот блок
    отталкивает от себя контент внутри себя, а отступы за 
    пределами бордеры это внешние отступы, то есть блок
    отталкивает себя от других элементов с которыми он
    соприкосается */

    /* Но если убрать фоновый цвет, и убрать либо margin либо padding,
    то не будет видно какой отступ применили */
    border:unset;
    margin: 0;
    background: transparent;

    /* Явления схлопывание вертикальных margin, это когда например у первого блока
    margin-bottom: 10px, а у второго блока margin-top: 30px, логично будет подумать
    отступ между первым и вторым блоком будет 40px, но тут работает понятие всхлопывание
    margin, то есть берется самое высокое значение, то есть отступ будет margin-top: 30px
    у padding такого явления НЕТ */
    margin-bottom: 70px;
}

/* И зададим нижнему блоку верхний отступ */
.title2 {
    margin-top: 150px;
    /* Но как видим фактический отступ между первым
    и вторым блоком не 220px, а 150px. А если вместо
    margin прописать padding, то получим наши 220px,
    но у нас у первого блока margin-bottom 70px, а у второго
    блока margin-top 150px, то он берет большее значение,
    то есть у нас 150px
    Но если спроецировать тоже самое на горизонтальные
    оступы, то у них схлопывания margin не бывает */
}
/* Есть и отрицательные значения, но у padding нет,
ну по логике вещей, как внутрений отступ вожмется в себя */
.text2 {
    margin-left: -30px;
    /* Видим наш блок уехал за край */
    margin-left: 0;
    /* Уберем) */
    font-size: 18px;
    background-color: #ccc;
}

.text3 {
    font-style: italic;
}

.text4 {
    text-align: right;
    font-size: 14px;
}
