/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

address {
  font-style: normal;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
    text-decoration: none;
    color: #242121;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
}

.common__title {
  display: flex;
  justify-content: center;
}

.common__title h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #01353E;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.common__title h2::after {
  content: "";
  background-image: url("../images/icon/title-line.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: -50px;
  width: 48px;
  height: 100%;
}

/* ------------------------------------------------- HEADER ---------------------------------------------- */

.header {
  padding-top: 35px;
  min-height: 100vh;
  background-image: url("../images/bg/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header__top {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}


.header__logo {
  position: absolute;
  top: 0;
  left: 0;
}

.menu {
  display: flex;
  height: 63px;
  align-items: center;
}

.menu__list a {
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #FFFFFF;

  position: relative;
  padding-bottom: 5px;
  transition: .5s;
}

.menu__list a::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #00B2A0;
  bottom: 0;
  right: 0;
  width: 0;
  transition: .3s;
}

.menu__list a:hover::after {
  right: unset;
  left: 0;
  width: 100%;
}

.menu__list + .menu__list {
  margin-left: 45px;
}

.header__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 98px);
}

.header__title {
  margin-top: auto;
}

.header__text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: #000000;
  text-align: center;
  margin: 30px 0 auto;
}
.serf__board {
  cursor: pointer;
  margin: 80px 0 20px;
  transition: .5s;
}

.serf__board:hover {
  transform: scale(1.1);
}

/* ------------------------------------------------- SERF SCHOOL ---------------------------------------------- */

.serf__school--inner {
  padding: 190px 0 200px;
}

.serf__content {
  display: flex;
  justify-content: center;
  margin-top: 95px;
  column-gap: 120px;
  
}

.serf__text {
  max-width: 480px;
}

.serf__text:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.serf__text p + p {
  margin-top: 30px;
}

/* ------------------------------------------------- RECEIVE ---------------------------------------------- */

.receive {
  padding: 200px 0;
  background-color: #F8F8F8;
}

.receive__list {
  display: flex;
  justify-content: space-between;
}

.receive__item--title {
  font-weight: normal;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.6px;
  color: #242121;

  
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.receive__item {
  max-width: 350px;
  margin-top: 100px;
}

.receive__item--text {
  margin-top: 10px;
}

.receive__content {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.serf__statistic {
  max-width: 350px;
}

.receive__statistick {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.number {
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  padding-left: 10px;
}

.serf__statistic--block {
  display: flex;
}

.serf__descr {
  max-width: 600px;
}

.serf__descr p + p {
  margin-top: 30px;
}


